*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: Roboto;
  font-size: 24px;
  margin: 0;
}

.header {
  background-color: #011827;
  display: flex;
  min-height: 144px;
}
.header img {
  margin: 26px 15px;
  width: 128px;
  height: 82px;
}
.header h1 {
  margin: 1em 0;
  color: #fff;
  max-width: 20%;
  min-width: 30%;
  gap: 1em;
}

.banner {
  height: 50;
}
.banner img {
  max-width: 100%;
  min-height: 274px;
}

.a {
  color: #011827;
  font-weight: bold;
  min-height: 66px;
  min-width: 308px;
}

.challenge-buttons {
  display: flex;
  flex-direction: column;
  color: #011827;
  align-items: center;
  gap: 1em;
  margin: 37px;
}
.challenge-buttons a.on-site-button {
  font-weight: 700;
  padding: 20px 70px;
  border: none;
  border-radius: 5px;
  background-color: #8ACFE5;
  cursor: pointer;
}
.challenge-buttons a.online-button {
  color: #36769D;
  font-weight: 700;
  border: none;
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
}

.container-reviews {
  display: grid;
  grid-template-columns: 25% 2fr;
  column-gap: 5px;
  margin: 3em 0.2rem;
  font-style: italic;
}
.container-reviews p {
  font-size: 22px;
}
.container-reviews small {
  font-size: 16px;
  justify-content: flex-end;
}
.container-reviewsimg {
  width: 50%;
  height: 50%;
}
