*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: Roboto;
  font-size: 24px;
  margin: 0;
}

.header {
  background-color: #011827;
  display: flex;
  min-height: 144px;
}
.header img {
  margin: 26px 15px;
  width: 128px;
  height: 82px;
}
.header h1 {
  margin: 1em 0;
  color: #fff;
  max-width: 20%;
  min-width: 30%;
  gap: 1em;
}

.banner {
  height: 50;
}
.banner img {
  max-width: 100%;
  min-height: 274px;
}

.a {
  color: #011827;
  font-weight: bold;
  min-height: 66px;
  min-width: 308px;
}

.challenge-buttons {
  display: flex;
  flex-direction: column;
  color: #011827;
  align-items: center;
  gap: 1em;
  margin: 37px;
}
.challenge-buttons a.on-site-button {
  background-color: #8ACFE5;
  border-radius: 5px;
  border: none;
  box-shadow: -1px 2px 3px 0px #B6BDB5;
  cursor: pointer;
  font-weight: 700;
  padding: 20px 70px;
}
.challenge-buttons a.online-button {
  border: none;
  color: #36769D;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
}

.container-reviews {
  display: grid;
  grid-template-columns: 25% 2fr;
  column-gap: 5px;
  margin: 3em 1.3rem;
  font-style: italic;
}
.container-reviews p {
  font-size: 22px;
}
.container-reviews small {
  font-size: 16px;
}
.container-reviewsimg {
  width: 50%;
  height: 50%;
}

.challenges-header {
  text-align: center;
  padding: 2em 0 1rem 0;
  font-size: 32px;
  font-weight: 400;
}

.container-challenges {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-challenges .rooms {
  box-shadow: -1px 2px 3px 0px #B6BDB5;
  border-radius: 8px;
  border: none;
  margin: 1em;
  width: 350px;
}
.container-challenges .rooms img.hacker {
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 100%;
}
.container-challenges .rooms h2 {
  margin: 0 0.5rem;
  font-size: 28px;
  font-weight: 400;
}
.container-challenges .rooms span {
  margin: 0 0.5rem;
}
.container-challenges .rooms p {
  margin: 0 0.5rem;
  margin-top: 0.1rem;
  font-size: 18px;
  font-weight: 400;
}
.container-challenges .rooms small {
  margin: 0 0.5rem;
  font-size: 14px;
  font-weight: 400;
}
.container-challenges .rooms button {
  background-color: #E3170A;
  border-radius: 4px;
  border: none;
  box-shadow: -1px 2px 3px 0px #B6BDB5;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  height: 44px;
  margin: 0.5rem 0 0.5rem 10em;
  text-align: center;
  width: 170px;
}

.container-full-story {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #011827;
  min-width: 480px;
  height: 500px;
}
.container-full-story p {
  text-align: center;
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  margin: 1rem 0;
}
.container-full-story button {
  text-align: center;
  background-color: #011827;
  border-radius: 5px;
  border: solid 2px #8ACFE5;
  color: #8ACFE5;
  cursor: pointer;
  font-weight: 700;
  padding: 20px 70px;
  margin-top: 1rem;
}

.container-end {
  display: grid;
  grid-template-columns: 1fr;
}
.container-end.container-end-images {
  width: 480px;
}
