*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: Roboto;
  font-size: 24px;
  margin: 0;
}

.header {
  background-color: #011827;
  display: flex;
  min-height: 144px;
  max-height: 215px;
}
.header img {
  margin: 26px 15px;
  width: 128px;
  height: 82px;
}
.header h1 {
  margin: 1em 0;
  color: #fff;
  max-width: 20%;
  min-width: 30%;
  gap: 1em;
}
@media screen and (min-width: 760px) {
  .header h1 {
    font-size: 40px;
    max-width: 100%;
    margin: 1.5em 0;
  }
}

nav {
  display: none;
}
@media screen and (min-width: 760px) {
  nav {
    display: block;
    background-color: #011827;
    color: #fff;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
  }
  nav ul li {
    font-size: 24px;
    font-weight: 700;
    margin: 1rem;
  }
  nav ul li:hover {
    color: #8ACFE5;
    cursor: pointer;
  }
}

.hero-banner {
  height: 50%;
}
.hero-banner img {
  width: 100%;
  height: 100%;
}

.challenge-buttons {
  display: flex;
  flex-direction: column;
  color: #011827;
  align-items: center;
  gap: 1em;
  margin: 37px;
}
@media screen and (min-width: 760px) {
  .challenge-buttons.top {
    flex-direction: row-reverse;
    justify-content: center;
    margin: -40px 0 37px;
  }
}
.challenge-buttons.top a.on-site-button {
  background-color: #8ACFE5;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 1px 1px 0px #B6BDB5;
  cursor: pointer;
  font-weight: 700;
  padding: 20px 70px;
}
.challenge-buttons.top a.online-button {
  border: none;
  color: #36769D;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
}
@media screen and (min-width: 760px) {
  .challenge-buttons.top a.online-button {
    background-color: #E3170A;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1px 1px 0px #B6BDB5;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    padding: 20px 70px;
    text-decoration: none;
  }
}
@media screen and (min-width: 760px) {
  .challenge-buttons.bottom {
    flex-direction: row-reverse;
    justify-content: center;
  }
}
.challenge-buttons.bottom a.on-site-button {
  background-color: #8ACFE5;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 1px 1px 0px #B6BDB5;
  cursor: pointer;
  font-weight: 700;
  padding: 20px 70px;
}
.challenge-buttons.bottom a.online-button {
  border: none;
  color: #36769D;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
}
@media screen and (min-width: 760px) {
  .challenge-buttons.bottom a.online-button {
    background-color: #E3170A;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1px 1px 0px #B6BDB5;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    padding: 20px 70px;
    text-decoration: none;
  }
}

.container-reviews {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container-reviews .review {
  display: flex;
  flex-direction: row;
  margin: 20px;
  font-style: italic;
}
.container-reviews .review.hidden {
  display: none;
}
@media screen and (min-width: 760px) {
  .container-reviews .review.hidden {
    display: flex;
  }
}
.container-reviews .review p {
  font-size: 22px;
  max-height: 139px;
  max-width: 368px;
}
.container-reviews .review small {
  font-size: 16px;
}
.container-reviews .review img {
  width: auto;
  height: 72px;
  margin-right: 4px;
}

.heading {
  padding: 2em 0 1rem 0;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}

.container-challenges {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  height: 456px;
  justify-content: flex-start;
  overflow-x: scroll;
  width: 100%;
}
@media screen and (min-width: 1020px) {
  .container-challenges {
    overflow-x: unset;
    justify-content: center;
  }
}
.container-challenges .rooms {
  box-shadow: -1px 2px 3px 0px #B6BDB5;
  border-radius: 8px;
  border: none;
  margin: 1em;
  width: 350px;
}
.container-challenges .rooms img.hacker {
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 100%;
}
.container-challenges .rooms h3 {
  margin: 0 0.5rem;
  font-size: 28px;
  font-weight: 400;
}
.container-challenges .rooms span {
  margin: 0 0.5rem;
}
.container-challenges .rooms p {
  margin: 0 0.5rem;
  margin-top: 0.1rem;
  font-size: 18px;
  font-weight: 400;
}
.container-challenges .rooms small {
  margin: 0 0.5rem;
  font-size: 14px;
  font-weight: 400;
}
.container-challenges .rooms button {
  background-color: #E3170A;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 1px 1px 0px #B6BDB5;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  height: 44px;
  margin: 0.5rem 10em 0.5rem 10em;
  text-align: center;
  width: 170px;
}

.container-full-story {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #011827;
  min-width: 100%;
  height: 500px;
}
.container-full-story p {
  text-align: center;
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  margin: 1rem 0;
  max-width: 600px;
}
.container-full-story button {
  text-align: center;
  background-color: #011827;
  border-radius: 5px;
  border: solid 2px #8ACFE5;
  color: #8ACFE5;
  cursor: pointer;
  font-weight: 700;
  padding: 20px 70px;
  margin-top: 1rem;
}

.container-end {
  display: grid;
  grid-template-columns: 1fr;
  width: 100vw;
}
@media screen and (min-width: 760px) {
  .container-end {
    grid-template-columns: 1fr 1fr;
  }
}
.container-end img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}
@media screen and (min-width: 760px) {
  .container-end div.container-image-2 {
    order: 4;
  }
}
.container-end div.container-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 30px 20px;
}
.container-end h2 {
  text-align: left;
  font-size: 32px;
  font-weight: 700;
}
@media screen and (min-width: 1020px) {
  .container-end h2 {
    margin: 20px 80px 0 80px;
  }
}
.container-end p {
  margin: 30px 0;
  text-align: left;
}
@media screen and (min-width: 1020px) {
  .container-end p {
    margin: 20px 80px 0 80px;
  }
}
.container-end a {
  margin: 30px 20px;
  background-color: #E3170A;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 1px 1px 0px #B6BDB5;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  padding: 20px 70px;
  text-decoration: none;
}
@media screen and (min-width: 1020px) {
  .container-end a {
    margin-left: 80px;
  }
}

.white-space {
  padding: 1em 0;
}
@media screen and (min-width: 760px) {
  .white-space {
    padding: 3em 0;
  }
}

footer {
  background-color: #011827;
  color: #fff;
  padding: 64px 20px;
  gap: 1rem;
}
@media screen and (min-width: 760px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 146px 200px 174px 108px;
  }
}
footer h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0.2rem 0;
}
footer p {
  font-size: 18px;
  font-weight: 400;
}
@media screen and (min-width: 760px) {
  footer p {
    width: 416px;
    height: 119px;
  }
}
footer div.footer-links-1, footer div.footer-links-2 {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
footer div.footer-links-1 h3, footer div.footer-links-2 h3 {
  padding-top: 1rem 0;
}
footer div.footer-links-1 a, footer div.footer-links-2 a {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}
