header {
    background-color: $esc-dark;
    display: flex;
    max-height: 215px;
    min-height: 144px;

img {
    height: 82px;
    margin: 26px 15px;
    width: 128px;
}
h1 {
color: #fff;
margin: 1em;
max-width: 20%;
min-width: 30%;  

@include breakpoint($medium-screen-breakpoint) {
    font-size: 40px;
    margin: 1.5em 0;
    max-width: 100%;
}
}

div.container-button {
    display: flex;
    flex: auto;
    justify-content: end;

    @include breakpoint($medium-screen-breakpoint) {
    display: none;
    }

    img.menu-button {
        height: 32px;
        margin: 28px 20px 0px 0px;
        width: 51px;
    }
}
}