.-active {
    background-color: #fff;
    bottom: 0;
    left: 0;
    opacity: 50%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;

}

div.container-menu {
    background-color: $esc-dark;
    bottom: 23px;
    box-shadow: 0px 1px 1px 0px $esc-gray;
    display: none;
    flex-direction: column;
    left: 20px;
    padding: 0;
    position: fixed;
    right: 20px;
    top: 23px;
    z-index: 2;

&.-open {
    display: flex;

    animation: fade-in;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-duration: 0.5s;
}

div.container-close-button {
    align-self: stretch;
    display: flex;
    justify-content: end;

    animation: fade-in;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-duration: 1.5s;

    img.close-button {
        height: 40px;
        margin: 25px 28px 0px 0px;
        width: 36px;
    }
}


ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    margin: 0;
    padding: 0;

    li {
        font-size: 1.5rem;
        font-weight: 700;
        list-style: none;
        margin-bottom: 50px;
    
        a {
        color: #fff;
        text-decoration: none;
        }
    }
}
}

@keyframes fade-in {
0% {
    opacity:0;
}
100% {
    opacity: 1;
}
}