@mixin book-button {
    background-color: $esc-red;
    border-radius: 4px;
    border: none;
    box-shadow: -1px 2px 3px 0px $esc-gray;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    height: 44px;
    margin: 0.5rem 0 0.5rem 10em;
    text-align: center;
    width: 170px;
}

@mixin blue-button {
    background-color: $esc-light-blue;
    border-radius: 5px;
    border: none;
    box-shadow: -1px 2px 3px 0px $esc-gray;
    cursor: pointer;
    font-weight: 700;
    padding: 20px 70px;
}

@mixin red-button {
    background-color: $esc-red;
    border-radius: 5px;
    border: none;
    box-shadow: -1px 2px 3px 0px $esc-gray;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    padding: 20px 70px;
    text-decoration: none;
}

@mixin online-blue-link {
    border: none;
    color: $esc-blue;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
}