@import 'variables';
@import 'mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: Roboto;
  font-size: 24px;
  margin: 0;
}

header {
  background-color: $esc-dark;
  display: flex;
  max-height: 215px;
  min-height: 144px;

  img {
    height: 82px;
    margin: 26px 15px;
    width: 128px;
  }
  h1 {
  color: #fff;
  margin-top: 1em;
  max-width: 20%;
  min-width: 30%;  

  @include breakpoint($medium-screen-breakpoint) {
    font-size: 40px;
    margin: 1.5em 0;
    max-width: 100%;
  }
  }
}

nav {
  display: none;

  @include breakpoint($medium-screen-breakpoint) {
    background-color: $esc-dark;
    color: #fff;
    display: block;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;

    li {
      margin: 1rem;

      &:hover {
        color: $esc-light-blue;
        cursor: pointer;
      }
    }
  }
}
}

.hero-banner {
  height: 50%;

  img {
  height: 100%;
  width: 100%;
  }
}

.challenge-buttons {
  align-items: center;
  color: $esc-dark;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 37px;

  &.top {
  @include breakpoint($medium-screen-breakpoint) {
    flex-direction: row-reverse;
    justify-content: center;
    margin: -40px 0 37px;
  }

  a.on-site-button {
    @include blue-button;
  }

  a.online-button {
    @include online-blue-link;

    @include breakpoint($medium-screen-breakpoint) {
      @include big-red-button;
    }
  }
}

&.bottom {
  @include breakpoint($medium-screen-breakpoint) {
    flex-direction: row-reverse;
    justify-content: center;
  }

  a.on-site-button {
    @include blue-button;
  }

  a.online-button {
    @include online-blue-link;

    @include breakpoint($medium-screen-breakpoint) {
      @include big-red-button;
    }
  }
}
}

.container-reviews {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .review {
    display: flex;
    flex-direction: row;
    font-style: italic;
    margin: 20px;

    &.hidden {
      display: none;
  
      @include breakpoint($medium-screen-breakpoint) {
        display: flex;
      }
    }

  p {
    font-size: 22px;
    max-height: 139px;
    max-width: 368px;
  }

  small {
    font-size: 16px;
  }

  img {
    height: 72px;
    margin-right: 4px;
    width: auto;
  }
}
}

.heading {
  font-size: 32px;
  font-weight: 400;
  padding: 2em 0 1rem 0;
  text-align: center;
}

.container-challenges {
  -ms-overflow-style: none;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  height: 456px;
  justify-content: flex-start;
  overflow-x: scroll;
  scrollbar-width: none;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  @include breakpoint($large-screen-breakpoint) {
    justify-content: center;
  }

  .rooms {
    border-radius: 8px;
    border: none;
    box-shadow: -1px 2px 3px 0px $esc-gray;
    margin: 1em;
    width: 350px;

    img.hacker {
      border-radius: 8px 8px 0 0;
      height: 100%;
      width: 100%;
    }

    h3 {
      font-size: 28px;
      font-weight: 400;
      margin: 0 0.5rem;
    }
    span {
      margin: 0 0.5rem;
    }

    p {
      font-size: 18px;
      font-weight: 400;
      margin-top: 0.1rem;
      margin: 0 0.5rem;
    }

    small {
      font-size: 14px;
      font-weight: 400;
      margin: 0 0.5rem;
    }

    button {
      @include book-button;
    }
  }
}

.container-full-story {
  align-items: center;
  background-color: $esc-dark;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  min-width: 100%;

  p {
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    margin: 1rem 0;
    max-width: 600px;
    text-align: center;
  }

  button {
    background-color: $esc-dark;
    border-radius: 5px;
    border: solid 2px $esc-light-blue;
    color: $esc-light-blue;
    cursor: pointer;
    font-weight: 700;
    margin-top: 1rem;
    padding: 20px 70px;
    text-align: center;
  }
}


.container-end {
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;

    @include breakpoint($medium-screen-breakpoint) {
      grid-template-columns: 1fr 1fr;
    }

    img {
      display: inline-block;
      height: auto;
      max-width: 100%;
      vertical-align: middle;

      @include breakpoint($medium-screen-breakpoint) {
        height: 100%;
        max-width: 100%;
      }
    }

    div.container-image-2 {
      @include breakpoint($medium-screen-breakpoint) {
        order: 4;
      }
    }

    div.container-text {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 30px 20px;
      width: 100%;
      }

    h2 {
      font-size: 32px;
      font-weight: 700;
      text-align: left;

      @include breakpoint($large-screen-breakpoint) {
        margin: 20px 80px 0 80px;
      }
    }

    p {
      margin: 30px 0;
      text-align: left;
      
      @include breakpoint($large-screen-breakpoint) {
        margin: 20px 80px 0 80px;
      }
    }

    a {
      margin: 30px 20px;

      @include breakpoint($large-screen-breakpoint) {
        margin-left: 80px;
      }

      @include red-button;
      }
  }

  .white-space {
    padding: 1em 0;

    @include breakpoint($medium-screen-breakpoint) {
      padding: 3em 0;
    }
  }

  footer {
    background-color: $esc-dark;
    color: #fff;
    gap: 1rem;
    padding: 64px 20px;

    @include breakpoint($medium-screen-breakpoint) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    @include breakpoint($large-screen-breakpoint) {
      padding: 146px 200px 174px 108px;
    }

    h3 {
      font-size: 18px;
      font-weight: 700;
      margin: 0.2rem 0;
    }

    p {
      font-size: 18px;
      font-weight: 400;

      @include breakpoint($medium-screen-breakpoint) {
        height: 119px;
        width: 416px;
      }
    }

      div.footer-links-1, div.footer-links-2 {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;

        h3 {
          padding-top: 1rem 0;
        }

        a {
          color: #fff;
          font-size: 18px;
          font-weight: 400;
          text-decoration: none;
        }
      }
  }