@import 'colors';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: Roboto;
  font-size: 24px;
  margin: 0;
}

.header {
  background-color: $esc-dark;
  display: flex;
  min-height: 144px;
  

  img {
    margin: 26px 15px;
    width: 128px;
    height: 82px;
  }
  h1 {
  margin: 1em 0;
  color: #fff;
  max-width: 20%;
  min-width: 30%;  
  gap: 1em;
  }
}

.banner {
  height: 50;

  img {
  max-width: 100%;
  min-height: 274px;
  }
}

.a {
  color: $esc-dark;
  font-weight: bold;
  min-height: 66px;
  min-width: 308px;

}

.challenge-buttons {
  display: flex;
  flex-direction: column;
  color: $esc-dark;
  align-items: center;
  gap: 1em;
  margin: 37px;

  a.on-site-button {
    font-weight: 700;
    padding: 20px 70px;
    border: none;
    border-radius: 5px;
    background-color: $esc-light-blue;
    cursor: pointer;
  }

  a.online-button {
    color: $esc-blue;
    font-weight: 700;
    border: none;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
  }
}

.container-reviews {
  display: grid;
  grid-template-columns: 25% 2fr;
  column-gap: 5px;
  margin: 3em 1.3rem;
  font-style: italic;

  p {
    font-size: 22px;
  }

  small {
    font-size: 16px;
  }

  &img {
    width: 50%;
    height: 50%;
  }
}

.challenges-header {
  text-align: center;
  padding: 2em 0 1rem 0;
  font-size: 32px;
  font-weight: 400;
}